#canvas {
    position:relative;
}

#canvas, canvas {
    display: block;
}

.fullScreen {
    position: absolute;
    top: 8px;
    right: 8px;
}

.fullScreen button {
    display: flex;
    align-items: center;
    justify-content:center;
}

.inputs__container { 
    margin-top: 8px;
    margin-left: 8px;
}

.inputs__container-el {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.inputs__container-el select {
    margin-left: 8px
}

